<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pymes 2022</title>
</head>
<body>
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Este ejemplo está desarrollado con las siguientes tecnologías: </p>
    <p>Backend: VisualStudio 2019, Aplicacion Web con WebApi2, EntityFramework 6, multiples capas en C#.
    <p>Frontend: Single Page Aplication, HTML, CSS, Bootstrap, Typescript y Angular.</p>
    <button type="button" class="btn btn-lg btn-primary" routerLink="/articulos">
      <i class="fa fa-search"></i>
      Ver ABMC Articulos </button>
  </div>
  
  
</body>
</html>